nav.main-menu {
  background: #121924;
  color: white;
  grid-row: 1/3;

  ul {
    li {
      padding: 1rem 1.5rem;
      font-size: 14px;
      font-weight: 300;
      min-width: 220px;
      border-left: 3px solid transparent;

      display: flex;
      align-items: center;
      gap: 1rem;

      svg {
        height: 1.1rem;
      }

      &:hover {
        background: #00512b;
        cursor: pointer;
        border-left-color: #00cf65;
      }
    }
  }
}
